<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>


    <meta charset="utf-8" />
    <title>Reportes</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- bootstrap theme -->
    <link rel="stylesheet" href="/static/themes/cerulean/bootstrap.css" media="screen">

    <!-- add one of the jQWidgets styles -->
    <link rel="stylesheet"
          href="/static/jqwidgets/styles/jqx.base.css" type="text/css" />

    <!-- Themes for jqwidget-->
    <link rel="stylesheet"
          href="/static/jqwidgets/styles/jqx.darkblue.css" type="text/css" />

    <!--Localization-->
    <script type="text/javascript" src="/static/jqwidgets/globalization/globalize.js"></script>

    <!-- add the jQuery script -->
    <script src="/static/scripts/jquery.min.js"></script>
    <!-- add the jQWidgets framework -->
    <script type="text/javascript" src="/static/jqwidgets/jqxcore.js"></script>
    <!-- add one or more widgets -->
    <script type="text/javascript" src="/static/jqwidgets/jqx-all.js"></script>

    <!-- add one or more widgets -->
    <script type="text/javascript" src="/static/scripts/moment.js"></script>
    <style>

        .ocultar {
            visibility: hidden;
            display: none
        }

        .ajustarposicion {
            position: relative;
            left: 10px;
        }
    </style>

    <!--Js Demos-->
    <script type="text/javascript" src="/static/scripts/demos.js"></script>

    <!--Exportadores-->
    <script type="text/javascript" src="/static/jqwidgets/jqxgrid.selection.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxgrid.columnsresize.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxdata.export.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxgrid.export.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxexport.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxgrid.sort.js"></script>

    <!-- JSZip -->
    <script type="text/javascript" src="/static/scripts/jszip.min.js"></script>

    <!-- Cookie Control -->
    <script src="/static/scripts/js.cookie.js"></script>

    <script type="text/javascript" src="/static/jqwidgets/jqxdata.export.js"></script>

    <script type="text/javascript" src="/static/jqwidgets/jqxdata.js"></script>

    <script>
        //check log in/////////////
        if (Cookies.get('username') != null) {
            //Show the page

        }
        else {
            //Redirect to login
            window.open("login", "_self");
        }
    </script>


</head>
<body>

    <script>


        //check log in/////////////
        if (Cookies.get('username') != null && Cookies.get('esadmin') != null && Cookies.get('token') != null) {
            //Show the page

        }
        else {
            //Redirect to login
            window.open("login", "_self");
        }


    </script>




    <h4>Lista de reportes</h4>


    {{ filas | safe }}





</body>
</html>