<script type="text/javascript">
        $(document).ready(function () {
            // Create jqxButton widgets.
            $("#Button1").jqxButton({ textPosition: "center", width: 120, theme: theme });
            $("#Button2").jqxButton({ textPosition: "center", width: 120, theme: theme });
            $("#Button3").jqxButton({ textPosition: "center", width: 120, theme: theme });
            $("#Button4").jqxButton({ textPosition: "center", width: 120, theme: theme });
            $("#Button5").jqxButton({ textPosition: "center", width: 120, theme: theme });
            $("#Button6").jqxButton({ textPosition: "center", width: 120, theme: theme });
            $("#Button7").jqxButton({ textPosition: "center", width: 120, theme: theme });
            $("#Button8").jqxButton({ textPosition: "center", width: 120, theme: theme });
            $("#Button9").jqxButton({ textPosition: "center", width: 120, theme: theme });



            $('#Button1').on('click', function () {


            });
            $('#Button2').on('click', function () {



            });
            $('#Button3').on('click', function () {   });
            $('#Button4').on('click', function () {   });
            $('#Button5').on('click', function () {


            });
            $('#Button6').on('click', function () {

            });
            $('#Button7').on('click', function () {   });
            $('#Button8').on('click', function () {   });
            $('#Button9').on('click', function () {   });



        });
</script>

<div style="margin-top:10px;margin-bottom:10px;position:relative;left:50px;top:-35px;display:none">
    <table>
        <tr>
            <td><input type="button" style="visibility:hidden;position:relative;top:13px;" value="Nuevo..." id='Button1' /></td>
            <td><input type="button" style="visibility:hidden;position:relative;top:13px;" value="TextButton" id='Button2' /></td>
            <td><input type="button" style="visibility:hidden;position:relative;top:13px;" value="TextButton" id='Button3' /></td>
            <td><input type="button" style="visibility:hidden;position:relative;top:13px;" value="TextButton" id='Button4' /></td>
            <td><input type="button" style="visibility:hidden;position:relative;top:13px;" value="TextButton" id='Button5' /></td>
            <td><input type="button" style="visibility:hidden;position:relative;top:13px;" value="TextButton" id='Button6' /></td>
            <td><input type="button" style="visibility:hidden;position:relative;top:13px;" value="TextButton" id='Button7' /></td>
            <td><input type="button" style="visibility:hidden;position:relative;top:13px;" value="TextButton" id='Button8' /></td>
            <td><input type="button" style="visibility:hidden;position:relative;top: 13px;"value="TextButton" id='Button9' /></td>
        </tr>
    </table>
</div>
