<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <title>Getting Started</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- bootstrap theme -->
    <link rel="stylesheet" href="/static/themes/cerulean/bootstrap.css" media="screen">

    <!-- add one of the jQWidgets styles -->
    <link rel="stylesheet"
          href="/static/jqwidgets/styles/jqx.base.css" type="text/css" />

    <!-- Themes for jqwidget-->
    <link rel="stylesheet"
          href="/static/jqwidgets/styles/jqx.darkblue.css" type="text/css" />

    <!-- add the jQuery script -->
    <script src="/static/scripts/jquery.min.js"></script>
    <!-- add the jQWidgets framework -->
    <script type="text/javascript" src="/static/jqwidgets/jqxcore.js"></script>
    <!-- add one or more widgets -->
    <script type="text/javascript" src="/static/jqwidgets/jqx-all.js"></script>

    <script type="text/javascript" src="/static/scripts/demos.js"></script>


    <!-- Cookie Control -->
    <script src="/static/scripts/js.cookie.js"></script>
</head>
<body>
    <div id='content'>
        {{ topmenu | safe }}
    </div>
</body>
</html>