<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Acceso no autorizado a {{ tablename | safe }}</title>
</head>
<body>

    <h2>

        ACCESO NO AUTORIZADO - Las causas pueden ser diversas;
        <br /><br />
        1) Página solo para administradores<br />
        2) No cuenta con permiso para visualizar esta página<br />
        3) No cuenta con credenciales sobre el elemento que intenta visualizar<br />

    </h2>


    <h5>

        <a href="home"  >Haga clic aquí para ir a la página Home</a>

    </h5>



</body>
</html>