<div id='jqxMenu'>
    <ul>
    	  <li><a href="mobile">Mobile</a></li>
    	
        <li><a href="javascript:addtabplustitle('home','Home')">Home</a></li>
        
        
       
       
         
        
        
        <li><a href="javascript:addtabplus('rendergrid?grid=tables/tbltarea')">Tareas</a></li>
         <li><a href="javascript:addtabplus('agenda')">Agenda</a></li>
      
      
      
       
        
       
         	<li><a href="javascript:addtabplus('adminzone')">Admin Zona</a></li>
         	<li>
         		<a href="javascript:startRecording('action');">Voice Action</a>
         		</li>
         	
         	
         	<li>Ayuda
         	<ul>
         <li> <a href="javascript:addtabplustitle('/static/notas/tbldocumentacioninterna/2/notas.html','Dictado por Voz')">Dictado por Voz</a>  </li>
          <li> <a href="javascript:addtabplustitle('/static/notas/tbldocumentacioninterna/1/notas.html','Voice Actions')">Voice Actions</a>  </li>
         	</ul>
         	</li>
         	
         	<li><a href="login">Login</a></li>
         	
         	
         		<li><a href="javascript:cerrartodo();">Cerrar Todo</a></li>
         		
         		
            </ul>
        </li>
     
     
      
        
      
    </ul>
</div>


<script type="text/javascript">


    theme = Cookies.get('theme');

    if (theme == null || theme == '' || theme == 'start') {

        Cookies.set('theme', 'darkblue', { expires: 90 });

    }

    


    $(document).ready(function () {
        $("#jqxMenu").jqxMenu({ width: '100%', height: '30px', theme: theme });
        var centerItems = function () {
            var firstItem = $($("#jqxMenu ul:first").children()[0]);
            firstItem.css('margin-left', 0);
            var width = 0;
            var borderOffset = 2;
            $.each($("#jqxMenu ul:first").children(), function () {
                width += $(this).outerWidth(true) + borderOffset;
            });
            var menuWidth = $("#jqxMenu").outerWidth();
            firstItem.css('margin-left', (menuWidth / 2) - (width / 2));
        }
        centerItems();
        $(window).resize(function () {
            centerItems();
        });

        //$("#jqxMenu").jqxMenu('minimize');
    });
</script>
