<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ projectnameurl | safe }}">{{ projectame | safe }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ homelinkurl | safe }}">{{ homelink | safe }}<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ catalogsurl | safe }}">{{ catalogs | safe }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ operationsurl | safe }}">{{ operations | safe }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ reportsurl | safe }}">{{ reports | safe }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ analysisurl | safe }}">{{ analysis | safe }}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ adminzoneurl | safe }}">{{ adminzone | safe }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ helpurl | safe }}">{{ help | safe }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ logouturl | safe }}">{{ logout | safe }}</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>